@import '../../styles/variables.scss';

#page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: $backColor;
  background-image: url('../../assets/images/doodles.png');

  .painel-principal {
    display: flex;

    width: 90%;
    height: 85%;

    aside {
      flex: 7;
      background: $oneColor;
    }

    main {
      flex: 4;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      background: $twoColor;
      padding: 0 32px;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;
        gap: 10px;
        user-select: none;
        img {
          width: 60%;
          align-self: center;
          margin: 10px;
        }
        div > .eye {
          position: relative;
          left: 40%;
          top: -45%;
          z-index: 2;
          color: white;

          transition: filter 0.9s;

          &:not(:disabled):hover {
            color: #000;
            filter: brightness(0.9);
          }
        }

        input {
          height: 50px;
          border-radius: 8px;
          padding: 0 16px;
          background: $whiteColor;
          border: 1px solid #ddd;
          font-size: 12pt;
        }

        button {
          margin-top: 16px;
          height: 50px;
          border-radius: 8px;
          font-weight: 500;
          background: $buttonColor;
          color: $whiteColor;
          padding: 0 32px;
          font-size: 14pt;

          display: flex;
          justify-content: center;
          align-items: center;

          cursor: pointer;
          border: 0;

          transition: filter 0.2s;

          &.outlined {
            background: $whiteColor;
            border: 1px solid $buttonColor;
            color: $buttonColor;
          }

          &:not(:disabled):hover {
            filter: brightness(0.9);
          }

          &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }
        }

        button,
        input {
          width: 100%;
        }

        .separator {
          font-size: 14px;
          color: $oneColor;

          margin: 10px 0;
          display: flex;
          align-items: center;

          &::before {
            content: '';
            flex: 1;
            height: 1px;
            background: $oneColor;
            margin-right: 16px;
          }

          &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: $oneColor;
            margin-left: 16px;
          }
        }
      }

      .button-register {
        width: 100%;
        display: flex;
        justify-content: center;

        > button {
          margin-top: 0;
          height: 50px;
          border-radius: 8px;
          font-weight: 500;
          background: $whiteColor;
          color: $buttonColor;
          padding: 0 32px;
          font-size: 14pt;
          border: 1px solid $buttonColor;
          width: 100%;
          max-width: 320px;

          display: flex;
          justify-content: center;
          align-items: center;

          cursor: pointer;

          transition: filter 0.2s;

          &.outlined {
            background: $buttonColor;
            border: 1px solid $whiteColor;
            color: $whiteColor;
          }

          &:not(:disabled):hover {
            filter: brightness(0.9);
            background: $buttonColor;
            border: 1px solid $whiteColor;
            color: $whiteColor;
          }

          &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
