@import '../../styles/variables.scss';

.button {
  border-radius: 8px;
  width: 50px;

  justify-content: center;
  align-items: center;

  background: $oneColor;
  color: $whiteColor;
  font-size: 32px;
  font-family: Arial;

  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}
