@import '../../styles/variables.scss';

#option {
  display: flex;
  justify-content: flex-end;

  .invisivel {
    display: none;
  }

  .leftButton {
    border-radius: 0 8px 8px 0px;
  }

  .rightButton {
    border-radius: 8px 0 0 8px;
  }

  #sair {
    position: absolute;
    height: 50px;
    padding: 0;
    width: 160px;
    top: 100px;
    background: white;
  }
}
